<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/room.css">

</head>
<body>  
    <div class="enter__container">
        <button id="enter">Enter</button>
    </div>

    
    <div class="container">
        <div class="currently__playing">
            <div class="thumbnail__container">
                <img  alt="" id="thumbnail">
            </div>
            <p id="title"></p>
            <p id="artist"></p>
        </div>

        <div class="seek__picker">
            <button id="play">play</button>
            <p id="currentDuration">0:00</p>
            <input type="range" name="seek" id="seek" value="0" maxlength="100">
            <p id="totalDuration">0:00</p>
        </div>
        
        <div id="state"></div>
        
        <div class="search__container">
            <input type="text" id="search" placeholder="Search">
            <button id="searchTrigger">Search</button>
        </div>
        
        <div id="searchResults"></div>
    </div>
    
    <script src="/lib/simplesockets_client/index.js"></script>
    <script src="/js/room.js"></script>
</body>
</html>